language: php

sudo: false

php:
  - 7.2
  - 7.3
  - 7.4
  - master

matrix:
  allow_failures:
    - php: master

before_install:
  - composer self-update
  - composer clear-cache

install:
  - composer update

script:
  - ./vendor/bin/phpunit --configuration=phpunit.xml --coverage-clover=coverage.xml

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
email: false
